flujo-entrenamiento-bld.json
{
  "name": "flujo-entrenamiento-bld",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "id": "aa3c3c51-6d01-4bf3-9a76-d4f62c6c17ca",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -2272,
        -16
      ],
      "webhookId": "61730d9b-df78-4b96-9190-1a417e87f060",
      "credentials": {
        "telegramApi": {
          "id": "nEXHm100uO0keqpR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $('Code in JavaScript2').item.json.mensaje_telegram }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -480,
        464
      ],
      "id": "128d20c8-8725-4caf-a50d-5749c4bf6d0e",
      "name": "Send a text message1",
      "webhookId": "54c62ebd-0510-4b97-9cdc-fae8277babd2",
      "credentials": {
        "telegramApi": {
          "id": "nEXHm100uO0keqpR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "rpc/obtener_pares_azar",
        "limit": 15
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1280,
        -352
      ],
      "id": "82fbd26a-4be0-4062-9c2e-82de227a6a0e",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "yLhcbgVQxg2OLtSU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Juntamos los 15 pares en una sola lista\nconst listaPares = $input.all().map(item => item.json);\n\n// Obtenemos tu Chat ID del primer nodo (¡Cambia el nombre si el tuyo es diferente!)\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    estado: \"entrenando\",\n    pares: listaPares,          // Guardamos la lista completa\n    pregunta_actual: 0,         // Empezamos en el índice 0 (pregunta 1)\n    aciertos: 0,\n    primer_par: listaPares[0].par // Extraemos la primera letra para preguntártela ahora mismo\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -352
      ],
      "id": "fcb18884-ef0f-40ae-b2e3-cb0a851a445e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "tableId": "sesion_bot",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $json.chat_id }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": "pares",
              "fieldValue": "={{ $json.pares }}"
            },
            {
              "fieldId": "pregunta_actual",
              "fieldValue": "={{ $json.pregunta_actual }}"
            },
            {
              "fieldId": "aciertos",
              "fieldValue": "={{ $json.aciertos }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -864,
        -352
      ],
      "id": "dceef391-da0b-4bea-b014-9aef6fc974b8",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "yLhcbgVQxg2OLtSU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "sesion_bot",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "keyName": "estado",
              "keyValue": "entrenando"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1424,
        304
      ],
      "id": "ae040771-a285-4fd9-a988-9e21a33a17c8",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "yLhcbgVQxg2OLtSU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mensajeUsuario = $('Telegram Trigger').first().json.message.text.trim().toLowerCase();\nconst entrada = $input.first();\nconst sesion = entrada ? entrada.json : null;\n\n// ÚNICO ESCUDO NECESARIO: Escribió algo que no es un comando, pero no hay sesión activa.\nif (!sesion || !sesion.pares || sesion.estado !== \"entrenando\") {\n  return [{ \n    json: { \n      error: true, \n      mensaje_telegram: \"No tienes un entrenamiento activo. 😅\\n\\nEscribe /empezar para jugar.\" \n    } \n  }];\n}\n\n// EVALUACIÓN DIRECTA Y LIMPIA\nconst pares = sesion.pares;\nlet indice = sesion.pregunta_actual;\nlet aciertos = sesion.aciertos;\nlet errores = sesion.errores || []; \n\nconst parActual = pares[indice];\nconst palabraCorrecta = parActual.palabra.trim().toLowerCase();\n\nlet esCorrecto = (mensajeUsuario === palabraCorrecta);\n\nif (esCorrecto) {\n  aciertos++; \n} else {\n  errores.push(parActual.par);\n}\n\nlet textoRespuesta = esCorrecto\n  ? `✅ ¡Correcto! Era **${parActual.palabra}**.\\n\\n`\n  : `❌ ¡Fallaste! La palabra para **${parActual.par}** era **${parActual.palabra}**.\\n\\n`;\n\nindice++; \nlet estado = sesion.estado;\n\nif (indice < pares.length) {\n  textoRespuesta += `🧠 **Pregunta ${indice + 1}/${pares.length}:**\\n¿Qué palabra es: **${pares[indice].par}**?`;\n} else {\n  estado = \"finalizado\";\n  textoRespuesta += `🎉 **¡Entrenamiento finalizado!**\\nAcertaste ${aciertos} de ${pares.length}. ¡Sigue practicando!\\n\\nEscribe /empezar para jugar de nuevo.`;\n}\n\nreturn [{\n  json: {\n    error: false,\n    id_sesion: sesion.id, \n    chat_id: sesion.chat_id,\n    estado: estado,\n    pregunta_actual: indice,\n    aciertos: aciertos,\n    errores: errores, \n    mensaje_telegram: textoRespuesta\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        304
      ],
      "id": "33d2a830-1b15-4a40-a19b-e980985050a1",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sesion_bot",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id_sesion }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "pregunta_actual",
              "fieldValue": "={{ $json.pregunta_actual }}"
            },
            {
              "fieldId": "aciertos",
              "fieldValue": "={{ $json.aciertos }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": "errores",
              "fieldValue": "={{ $json.errores }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -720,
        496
      ],
      "id": "aa23c10b-2307-491d-917b-9af450202259",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "yLhcbgVQxg2OLtSU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=¡Nuevo entrenamiento iniciado! 🚀  🧠 **Pregunta 1/15:** ¿Qué palabra es: **{{ $('Code in JavaScript1').item.json.primer_par }}**?",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -656,
        -352
      ],
      "id": "834f6153-7e26-4b60-b142-96c5019a3ac6",
      "name": "Send a text message2",
      "webhookId": "57c598e8-b0c1-43cb-9d58-02b4d24a1543",
      "credentials": {
        "telegramApi": {
          "id": "nEXHm100uO0keqpR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/empezar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "51cce8a4-528f-4f8e-8c3f-0ed47e899812"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5466924d-5196-4206-b261-c3541006f7b7",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "92b224fc-5622-4ba6-992b-ce27e5fcb93f",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/estadisticas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dc991469-af28-4f60-b4d5-d83526fff149",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/reiniciar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1936,
        -64
      ],
      "id": "f8da9e60-0f84-4029-827e-454aede4775e",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sesion_bot",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "entrenando"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "cancelado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        -48
      ],
      "id": "6c894447-bd6b-4138-91af-99ad501353c6",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "yLhcbgVQxg2OLtSU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "🛑 Entrenamiento cancelado. El progreso se ha guardado.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -656,
        -48
      ],
      "id": "f6c20c36-1bc5-4eb8-bd59-e6c171033afb",
      "name": "Send a text message",
      "webhookId": "456e468d-1e6f-4769-89b8-cb3b76f5d20d",
      "credentials": {
        "telegramApi": {
          "id": "nEXHm100uO0keqpR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5178b867-b558-4421-9014-9f7d5f690bf7",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1168,
        -16
      ],
      "id": "4cc97c77-4088-40c8-879d-65707ac995f8",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "sesion_bot",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "keyName": "estado",
              "keyValue": "entrenando"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1408,
        0
      ],
      "id": "16d41cc7-4cf9-4a6d-ac39-19ff089038a5",
      "name": "Get a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "yLhcbgVQxg2OLtSU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "No hay ningún entrenamiento activo para cancelar. 🤷‍♂️ Escribe /empezar cuando quieras jugar.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -800,
        112
      ],
      "id": "c5c0b7a5-3430-4334-beeb-74f88cc27c26",
      "name": "Send a text message3",
      "webhookId": "456e468d-1e6f-4769-89b8-cb3b76f5d20d",
      "credentials": {
        "telegramApi": {
          "id": "nEXHm100uO0keqpR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "700ee3f6-faca-4026-a27c-2bedade707a8",
              "leftValue": "={{ $json.error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -992,
        352
      ],
      "id": "753d5d28-137d-444d-80ae-7a9e04625562",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "No tienes entrenamiento activo",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -656,
        272
      ],
      "id": "5c4cf797-1eb8-4c1c-8d30-f6a23322262c",
      "name": "Send a text message4",
      "webhookId": "d64bde9e-c0d9-4ad5-acc1-a464e880865b",
      "credentials": {
        "telegramApi": {
          "id": "nEXHm100uO0keqpR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "sesion_bot",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "keyName": "estado",
              "keyValue": "entrenando"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1712,
        -400
      ],
      "id": "38d84e16-f80b-4cf4-913b-8bcd68a0a8ad",
      "name": "Get a row2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "yLhcbgVQxg2OLtSU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a1bf895d-8000-41ba-a4ef-eef5de0ddf8a",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1520,
        -432
      ],
      "id": "b2c340c4-9d5a-499b-bb98-8fa0cae4a4e6",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⚠️ Tienes un entrenamiento activo. ¿Estás seguro de que quieres abandonarlo y empezar uno nuevo? \\n\\nPara confirmar, escribe /reiniciar.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1280,
        -528
      ],
      "id": "279ef8d6-6951-4707-8a50-bf14298efb5a",
      "name": "Send a text message5",
      "webhookId": "57c598e8-b0c1-43cb-9d58-02b4d24a1543",
      "credentials": {
        "telegramApi": {
          "id": "nEXHm100uO0keqpR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sesion_bot",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "entrenando"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "reiniciado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1568,
        -224
      ],
      "id": "ccb59bbb-38ff-471a-845a-cb85f2245e42",
      "name": "Update a row2",
      "credentials": {
        "supabaseApi": {
          "id": "yLhcbgVQxg2OLtSU",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a row2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Update a row2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row2": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "1991a889-d3e8-4622-b063-3c04a8b31b42",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27b6f3e0a912bfe7d60f63c591a6a8bf58cf024f0994c7c776708571103ca406"
  },
  "id": "45PsHZObWUTaUvWs",
  "tags": []
}